:root {
    --color-black: #000000;
    --color-red: #C12D18;
    --color-white: #ffffff;
    --color-text-bg-footer: #E0E0E0;
    --color-bg-home: linear-gradient(to right, #FFFFFF, #F0F0F0);
    --color-footer: linear-gradient(to right, #33383D, #1C1D20);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

.home-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'poppins', sans-serif;
    background: var(--color-footer);
    color: var(--color-text-bg-footer);
    height: 6rem;
    margin-top: -2rem;
    align-items: center;
}
.home-footer-message {
    text-align: right;
    font-size: 0.8rem;
    line-height: 1rem;
    width: 45%;
    margin-left: 5rem;
    margin-right: 0.5rem;
}
.home-footer-bar {
    color: var(--color-white);
}
.time-footer {
    margin-right: 4rem;
}
.home-footer-message-refresh {
    font-size: 0.8rem;
    margin-left: 4rem;
    width: 60px;
    margin-right: 1rem;
}
.time-footer-number-refresh {
    font-size: 3rem;
    font-family: 'League Spartan', sans-serif;
    color: var(--color-white);
}
.time-footer-text-seconds {
    margin-left: 0.8rem;
    font-size: 0.8rem;
}
.footer-continue-browsing{
    background: var(--color-white);
    color: var(--color-red);
    font-size: 0.8rem;
    height: 6rem;
    padding: 2rem 0.5rem;
    text-align: center;
    font-weight: 700;
    width: 150px;
    cursor: pointer;
}
.logout {
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}
.home-footer-message-autentication {
    display: none;
}

