@media screen and (max-width: 800px) { 
    body {
        display: flex;
        flex-direction: column;
        background: var(--color-bg-login);
    }
    .message {
        margin-left: 1rem;
        margin-top: 5rem;
        transition: 2s ease-in-out 0.1s;
    }
    .form-login {
        margin-left: 1rem;
        margin-top: 5rem;
        padding-bottom: 2rem;
        transition: 2s ease-in-out 0.1s;
    } 
    .login-bust {
        display: inline;
    }
    #compass-notebook {
        display: none;
    }
    #logo-compass {
        display: none;
    }
 }

 @media screen and (max-width: 481px){
    body {
        display: flex;
        flex-direction: column;
    }
    .form-login {
        width: 300px;
        padding-bottom: 2rem;
    }
    #user, #password, #submit {
        width: 200px;
        transition: 1.5s ease-in-out 0s;
    }
    .message-login{
        width: 200px;
        transition: 1.5s ease-in-out 0s;
    }
    
 }
