:root {
    --color-bg-login: #222222; 
    --color-text-bg: #E0E0E0;
    --color-bg-submit: linear-gradient(to right, #FF2D04 , #C13216);
    --color-white: #ffffff;
    --color-gold: #E9B425;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: row;
    color: var(--color-text-bg);
    font-family: 'Poppins', sans-serif;
}
.message {
    display: flex;
    flex-direction: column; 
    align-items: left;
    margin-left: 10rem;
    margin-top: 10rem;
}
.message-ola{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.message-login{
    width: 250px;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--color-text-bg);
}
.login {
    width: 100%;
    background-color: var(--color-bg-login);
}
.form-login {
    display: flex;
    flex-direction: column; 
    align-items: left;
    font-size: 0.5rem;
    width: 400px;
    margin-left: 10rem;
    margin-top: 8rem;
}

.login-user, .login-password {
    background-color: var(--color-bg-login);
    border-radius: 50px;
    border: solid 1px var(--color-text-bg);
    width: 340px;
    height: 60px;
    margin: 1rem 1rem 1rem 0;
    color: var(--color-text-bg);
    padding-left: 1rem;
}
.login-user::placeholder, .login-password::placeholder{
    color: var(--color-text-bg);
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: 1rem;
}
.border-input {
    border: solid 1px var(--color-gold);
}
.login-user-typing {
    margin-left: 0;
    font-size: 1rem;
    letter-spacing: 0.1rem; 
}
.form-label-login {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.form-inputs {
    position: relative;
}
.login-password-typing {
    margin-left: 0;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}
.login-bust {
    width: 1rem;
    display: inline-block;
    position: relative;
    left: 0;
    transition: 1.5s ease-in-out 0.1s;
    flex-wrap: wrap;
}
.login-bust-inside{
    width: 1rem;
    position: relative;
    left: -3.5rem;
    transition: 1.5s ease-in-out 0.1s;
    z-index: 10;
} 
.login-padlock {
    width: 1rem;
    display: inline-block;
    position: relative;
    left: 0;
    transition: 1.5s ease-in-out 0.1s;
    flex-wrap: wrap;    
}
.login-padlock-inside {
    width: 1rem;
    position: relative;
    left: -3.5rem;
    transition: 1.5s ease-in-out 0.1s;
    z-index: 10;
}
.login-submit {
    margin-top: 4rem;
    background: var(--color-bg-submit) ;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    color: var(--color-white);
    height: 60px;
    margin-left: 0;
    font-size: 1rem;
    width: 340px;
}
.message-error {
    display: none;
    font-family: 'nunito', sans-serif;
    padding: 2rem 6rem 0 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--color-gold);
}
.logo {    
    width: 100%;
}

.logo-compass {
    width: 14rem;   
    height: 3.5rem; 
    position: absolute;
    top: 4%;
    left: 67%;
}

.logo-compass-notebook {    
    width: 50%;
    z-index: -1;
}

